<a href="https://colab.research.google.com/github/PriyanshuSharma18/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=4
sum=a+b
print(sum)

9

In [ ]:
a=30
b=40
divide=a/b
multiply=a*b
print(multiply)
print (divide)

1200
0.75

In [ ]:
#https://www.w3resource.com/python-exercises/array/
 #Write a Python program to create an array of 5 integers and display the array items. Access individual element through indexes.
from array import*
a=array('i',[1,2,5,7,9])
for i in a:
   print(i)
   
#Write a Python program to append a new item to the end of the array. 
a.append(3)   
print("New Array",a)
#Write a Python program to reverse the order of the items in the array. Go to the editor
a.reverse()
print(a)
#Write a Python program to get the length in bytes of one array item in the internal representation. Go to the editor
print(a.itemsize)
print(len(a))
#Write a Python program to get the current memory address and the length in elements of the buffer used to hold an arrayâ€™s contents and also find the size of the memory buffer in bytes
print("Current memory address and the length in elements of the buffer:",a.buffer_info())
print("The size of the memory buffer in bytes: "+str(a.buffer_info()[1] * a.itemsize))
#Write a Python program to get the number of occurrences of a specified element in an array
from array import *
a=array('i',[1,2,3,5,7,9,3,99,3])
print(a.count(3))
# Write a Python program to append items from inerrable to the end of the array.
a.extend(a)
print(a)
#Write a Python program to convert an array to an array of machine values and return the bytes representation
p=a.tobytes()
print(p)
# Write a Python program to append items from a specified list
from array import*
a_list=[1,2,3,4,5,6,7,8,9,3,99,3]
p=array('i',[])
p.fromlist(a_list)
print(p)   
# Write a Python program to insert a new item before the second element in an existing array. Go to the editor
a.insert(1,99)
print(a)
#Write a Python program to remove a specified item using the index from an array
a.pop(2)
print(a)
#Write a Python program to remove the first occurrence of a specified element from an array.
a_list.remove(3)
print(a_list)
#Write a Python program to convert an array to an ordinary list with the same items
p=a.tolist()
print(p)
#Write a Python program to find whether a given array of integers contains any duplicate element. Return true if any value appears at least twice in the said array and return false if every element is distinct
def test_duplicate(array_num):
  nums_set=set(array_num)
  return len(array_num)!=len(nums_set)
print(test_duplicate([1,2,3,4,5,9]))
print(test_duplicate([1,2,3,4,4,5,6,9]))
print(test_duplicate([1,1,2,2,3,4,4,5,6,6,9,9]))
#Write a Python program to find the first duplicate element in a given array of integers. Return -1 If there are no such elements.
def find_first_duplicate(nums):
    num_set = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return no_duplicate

print(find_first_duplicate([1, 2, 3, 4, 4, 5]))
print(find_first_duplicate([1, 2, 3, 4]))
print(find_first_duplicate([1, 1, 2, 3, 3, 2, 2]))
# Write a Python program to check whether it follows the sequence given in the patterns array.
def is_samePatterns(colors, patterns):    
    if len(colors) != len(patterns):
        return False    
    sdict = {}
    pset = set()
    sset = set()    
    for i in range(len(patterns)):
        pset.add(patterns[i])
        sset.add(colors[i])
        if patterns[i] not in sdict.keys():
            sdict[patterns[i]] = []

        keys = sdict[patterns[i]]
        keys.append(colors[i])
        sdict[patterns[i]] = keys

    if len(pset) != len(sset):
        return False   

    for values in sdict.values():

        for i in range(len(values) - 1):
            if values[i] != values[i+1]:
                return False

    return True

print(is_samePatterns(["red", 
 "green", 
 "green"], ["a", 
 "b", 
 "b"])) 

print(is_samePatterns(["red", 
 "green", 
 "greenn"], ["a", 
 "b", 
 "b"])) 
#Write a Python program to find a pair with highest product from a given array of integers.
def max_Product(arr): 
    arr_len = len(arr) 
    if (arr_len < 2): 
        print("No pairs exists") 
        return      
    # Initialize max product pair 
    x = arr[0]; y = arr[1] 

    # Traverse through every possible pair     
    for i in range(0, arr_len): 

        for j in range(i + 1, arr_len): 
            if (arr[i] * arr[j] > x * y): 
                x = arr[i]; y = arr[j] 

    return x,y    

nums = [1, 2, 3, 4, 7, 0, 8, 4] 
print("Original array:", nums)
print("Maximum product pair is:", max_Product(nums))

nums = [0, -1, -2, -4, 5, 0, -6] 
print("\nOriginal array:", nums)
print("Maximum product pair is:", max_Product(nums))

#Write a Python program to create an array contains six integers. Also print all the members of the array. 
a=array('i',[1,2,3,4,5,9,99])
for i in a:
    print(i)
# Write a Python program to get an array buffer information
a=array('i',[2,9])
print(a.buffer_info())
#Write a Python program to get the length of an array.
print(len(a))
#Write a Python program to get the array size of types unsigned integer and float
print(a.itemsize)
# Write a Python program to read a string and interpreting the string as an array of machine values.
from array import array
import binascii
array1 = array('i', [7, 8, 9, 10])
print('array1:', array1)
as_bytes = array1.tobytes()
print('Bytes:', binascii.hexlify(as_bytes))
array2 = array('i')
array2.frombytes(as_bytes)
print('array2:', array2)
# Write a Python program to remove all duplicate elements from a given array and returns a new array.
import array as arr
def test(nums):
    return sorted(set(nums),key=nums.index)

array_num = arr.array('i', [1, 3, 5, 1, 3, 7, 9])
print("Original array:")
for i in range(len(array_num)):    
    print(array_num[i], end=' ')
print("\nAfter removing duplicate elements from the said array:")
result = arr.array('i', test(array_num))
for i in range(len(result)):    
    print(result[i], end=' ')
array_num = arr.array('i', [2, 4, 2, 6, 4, 8])
print("\nOriginal array:")
for i in range(len(array_num)):    
    print(array_num[i], end=' ')
print("\nAfter removing duplicate elements from the said array:")
result = arr.array('i', test(array_num))
for i in range(len(result)):    
    print(result[i], end=' ')
#Write a Python program to find the missing number in a given array of numbers between 10 and 20. 
import array as arr
def test(nums):
    return sum(range(10, 21)) - sum(list(nums))

array_num = arr.array('i', [10, 11, 12, 13, 14, 16, 17, 18, 19, 20])
print("Original array:")
for i in range(len(array_num)):    
    print(array_num[i], end=' ')
print("\nMissing number in the said array (10-20): ",test(array_num))
 
array_num = arr.array('i', [10, 11, 12, 13, 14, 15, 16, 17, 18, 19])
print("\nOriginal array:")
for i in range(len(array_num)):    
    print(array_num[i], end=' ')
print("\nMissing number in the said array (10-20): ",test(array_num))

1
2
5
7
9
New Array array('i', [1, 2, 5, 7, 9, 3])
array('i', [3, 9, 7, 5, 2, 1])
4
6
Current memory address and the length in elements of the buffer: (140638984185728, 6)
The size of the memory buffer in bytes: 24
3
array('i', [1, 2, 3, 5, 7, 9, 3, 99, 3, 1, 2, 3, 5, 7, 9, 3, 99, 3])
b'\x01\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x05\x00\x00\x00\x07\x00\x00\x00\t\x00\x00\x00\x03\x00\x00\x00c\x00\x00\x00\x03\x00\x00\x00\x01\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x05\x00\x00\x00\x07\x00\x00\x00\t\x00\x00\x00\x03\x00\x00\x00c\x00\x00\x00\x03\x00\x00\x00'
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 99, 3])
array('i', [1, 99, 2, 3, 5, 7, 9, 3, 99, 3, 1, 2, 3, 5, 7, 9, 3, 99, 3])
array('i', [1, 99, 3, 5, 7, 9, 3, 99, 3, 1, 2, 3, 5, 7, 9, 3, 99, 3])
[1, 2, 4, 5, 6, 7, 8, 9, 3, 99, 3]
[1, 99, 3, 5, 7, 9, 3, 99, 3, 1, 2, 3, 5, 7, 9, 3, 99, 3]
False
True
True
4
-1
1
True
False
Original array: [1, 2, 3, 4, 7, 0, 8, 4]
Maximum product pair is: (7, 8)

Original array: [0, -1, -2, -4, 5, 0, -6]
Maximum product pair is: (-4, -6)
1
2
3
4
5
9
99
(140638984196144, 2)
2
4
array1: array('i', [7, 8, 9, 10])
Bytes: b'0700000008000000090000000a000000'
array2: array('i', [7, 8, 9, 10])
Original array:
1 3 5 1 3 7 9
After removing duplicate elements from the said array:
1 3 5 7 9
Original array:
2 4 2 6 4 8
After removing duplicate elements from the said array:
2 4 6 8 Original array:
10 11 12 13 14 16 17 18 19 20
Missing number in the said array (10-20):  15

Original array:
10 11 12 13 14 15 16 17 18 19
Missing number in the said array (10-20):  20

In [ ]:
n = int(input("Enter number of words: "))
words = []
for i in range(n):
    words.append(input())

longest_word = words[0]
for word in words:
    if len(word) > len(longest_word):
        longest_word = word

print("The word with the longest length is:", longest_word)

Enter number of words: 5
ROHIT
VIRAT
SHAHRUKH KHAN
PRIYANSHU SHARMA
ROBERT DOWNEY JUNIOR
The word with the longest length is: ROBERT DOWNEY JUNIOR

In [ ]:
# Input number of currencies
n=int(input("Enter Number of Currencies: "))

# Create an empty set
currencies=set()

# Iterate through the inputted country names
for i in range(n):
    country=input("Enter the name of the country: ")
    # Add the country name to the set
    currencies.add(country)

# Print the size of the set, which is the total number of distinct country currencies
print("Total number of distinct country currencies:",len(currencies))

Enter Number of Currencies: 3
Enter the name of the country: India
Enter the name of the country: USA
Enter the name of the country: Japan
Total number of distinct country currencies: 3

In [ ]:
# Initial data
employees = {
    "Sunny": (25000, False),
    "Ravi": (23000, False),
    "Vijay": (26000, False),
    "Messi": (30000, False)
}

# Update employee data
name = input("Enter the employee name: ")
employees[name] = (employees[name][0], True)

# Output all employee data
for employee, data in employees.items():
    print(employee, data[0], "Resigned:", data[1])

Enter the employee name: Ravi
Sunny 25000 Resigned: False
Ravi 23000 Resigned: True
Vijay 26000 Resigned: False
Messi 30000 Resigned: False

In [ ]:
def check_key(dictionary, key):
    if key in dictionary:
        print(f'"{key}" exists in the dictionary.')
    else:
        print(f'"{key}" does not exist in the dictionary.')

# example usage
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
check_key(my_dict, 'name')  # Output: "name" exists in the dictionary.
check_key(my_dict, 'gender') # Output: "gender" does not exist in the dictionary.

"name" exists in the dictionary.
"gender" does not exist in the dictionary.

In [ ]:
import statistics

def quiz_analysis():
    marks = list(map(int, input("Enter the marks scored by 7 students in the class: ").split()))
    mean = statistics.mean(marks)
    std_dev = statistics.stdev(marks)
    print(f'Mean is: {mean}')
    print(f'Standard Deviation is: {std_dev}')

quiz_analysis()

Enter the marks scored by 7 students in the class: 70 80 85 90 95
Mean is: 84
Standard Deviation is: 9.617692030835672

In [ ]:
#Find the average of five different subject marks. Sample Input:  Subject 1: 66 Subject 2: 77 Subject 3: 88 Subject 4: 99 Subject 5: 55 Sample Output:  77
a=66
b=77
c=88
d=99
m=55
sum=a+b+c+d+m
avg=sum/5
print(avg)

#Convert the temperature in celsius to fahrenheit.  Sample Input:  Celsius = 30   Sample Output: 86
celsius = 30
fahrenheit = (celsius * 1.8) + 32
print(str(celsius )+ " degree Celsius is equal to " + str(fahrenheit )+ " degree Fahrenheit.")



#Write a program to do exchange of two numbers using addition and subtraction without using temporary variables. Sample Input:  a=150 b=270 Sample Output: a=270 b=150
a = 150
b = 270
 
# Code to swap 'a' and 'b'

a = a + b
 

b = a - b
 

a = a - b
print("After Swapping: a =", a, " b =", b)



#Write a program to do exchange of two numbers using bitwise operators. Sample Input:  a=150 b=270 Sample Output: a=270 b=150
a = 150
b = 270
 
# Code to swap 'a' and 'b'
a = a ^ b; 
b = a ^ b; 
a = a ^ b; 
 
print ("After Swapping: a = ", a, " b =", b)




#Find the given number is even. Sample Input:  a=100 
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")


#Print the last digit of the given number.
n=256 

last_digit = int(repr(n)[-1])

print(f"The last digit of {n} is {last_digit}")   



#Verify the given number is divisible by 5
def isDivisibleBy5(a) :
    n = len(a)
    return ( (a[n-1] == '0') or
           (a[n-1] == '5'))
  
a = "50"
if isDivisibleBy5(a) :
    print ("Yes")
else :
    print ("No")
#Write a Python program to compute the profit in percentage?
cost,interior_decoration,selling_price = map(int,input("Enter cost, interior decoration, selling price: ").split())
profit = (selling_price-cost-interior_decoration)/cost*100
print("The profit is:", profit)

77.0
30 degree Celsius is equal to 86.0 degree Fahrenheit.
After Swapping: a = 270  b = 150
After Swapping: a =  270  b = 150

KeyboardInterrupt: ignored

In [ ]:
cost=int(input("Enter cost: "))
interior_decoration_cost=int(input("Enter interior decoration cost: "))
selling_price=int(input("Enter selling price: "))
profit = (selling_price-cost-interior_decoration_cost)/cost*100
print("The profit is:",profit,"%")

Enter cost: 1000000
Enter interior decoration cost: 10000
Enter selling price: 5000000
The profit is: 399.0 %

In [ ]:
units=int(input("Enter number of units of effort: "))
hours=units//3600
remaining_units=units%3600
minutes=remaining_units//60
seconds=remaining_units%60
print("Hours:", hours)
print("Minutes:", minutes)
print("Seconds:", seconds)

Enter number of units of effort: 45678
Hours: 12
Minutes: 41
Seconds: 18

In [ ]:
distance=int(input("Enter distance in Km: "))
time=int(input("Enter time in hours: "))
speed=distance/time
print("The speed of the car in Km/hr is: ", speed)

Enter distance in Km: 56
Enter time in hours: 4
The speed of the car in Km/hr is:  14.0

In [ ]:
import math
width=int(input("Enter width: "))
height=int(input("Enter height: "))
hypotenuse=math.sqrt(width**2+height**2)
area=(width*height)/2
print("The third side of the triangle is: ", hypotenuse)
print("Area of the right angled triangle is: ", area)

Enter width: 7
Enter height: 8
The third side of the triangle is:  10.63014581273465
Area of the right angled triangle is:  28.0

In [ ]:
a=5
b=4
if(a & b >= 1)|(a^b <=1):
  print("I win the game") 
else:     
  print("I lose the game")

I win the game

In [ ]:
a={"State":"Capital",
"India":"Delhi",
"Madhya Pradesh":"Bhopal",
"Bihar":"Patna",
"Uttar Pradesh":"Lucknow",
"Chhattisgarh":"Raipur"
}
print(type(a),a)
print(a["Madhya Pradesh"])
print(a["Bihar"])

print()
#Add an element
a["Rajasthan"]="Jaipur"
print(a)

a.update({"West Bengal":"Kolkata"})
print(a)

print()

#Remove an element
del a["Chhattisgarh"]
print(a)

a.pop("Rajasthan")
print(a)


#Set
a={"Priyanshu","Ayush","Dushyant","Pratham","Aditya"}
print(type(a),a)

print()

#Add an element
a.add("Kush")
print(a)

#Remove an element
a.remove("Kush")
print(a)

<class 'dict'> {'State': 'Capital', 'India': 'Delhi', 'Madhya Pradesh': 'Bhopal', 'Bihar': 'Patna', 'Uttar Pradesh': 'Lucknow', 'Chhattisgarh': 'Raipur'}
Bhopal
Patna

{'State': 'Capital', 'India': 'Delhi', 'Madhya Pradesh': 'Bhopal', 'Bihar': 'Patna', 'Uttar Pradesh': 'Lucknow', 'Chhattisgarh': 'Raipur', 'Rajasthan': 'Jaipur'}
{'State': 'Capital', 'India': 'Delhi', 'Madhya Pradesh': 'Bhopal', 'Bihar': 'Patna', 'Uttar Pradesh': 'Lucknow', 'Chhattisgarh': 'Raipur', 'Rajasthan': 'Jaipur', 'West Bengal': 'Kolkata'}

{'State': 'Capital', 'India': 'Delhi', 'Madhya Pradesh': 'Bhopal', 'Bihar': 'Patna', 'Uttar Pradesh': 'Lucknow', 'Rajasthan': 'Jaipur', 'West Bengal': 'Kolkata'}
{'State': 'Capital', 'India': 'Delhi', 'Madhya Pradesh': 'Bhopal', 'Bihar': 'Patna', 'Uttar Pradesh': 'Lucknow', 'West Bengal': 'Kolkata'}
<class 'set'> {'Dushyant', 'Pratham', 'Aditya', 'Priyanshu', 'Ayush'}

{'Dushyant', 'Kush', 'Pratham', 'Aditya', 'Priyanshu', 'Ayush'}
{'Dushyant', 'Pratham', 'Aditya', 'Priyanshu', 'Ayush'}

In [ ]:
#Tuples
#Write  a python program to create a tuple
fruits=("apple","mango","strawberry")
print(fruits)
print(type(fruits))


#Write a python program to create a tuple with numbers
a=(10,9,5,4,2,99,100)
print(type(a),a)


#Write a python program to create using different different data types
a=(1,99,9,4,5,"Robdert Downey Junior","Ironman",9)
print(type(a),a)

print(len(a))
print(a.count(9))
print(list(a))
#List
#Create a list of 10 integers
a=[1,2,3,4,5,6,7,8,9,10]
print(type(a),a)

print()

a.append(99)
print(a)

print()
#remove
a.remove(2)
print(a)

#Insert
a.insert(0,0)
print(a)

#delete
del a[10]
print(a)

#reverse
print(a[-1:0:-1])
#Length
print(len(a))
#Slicing
print(a[2:8])

#sort
print(sorted(a))

#min and max
print(min(a))
print(max(a))

#Convert list to tuple
print(tuple(a))

('apple', 'mango', 'strawberry')
<class 'tuple'>
<class 'tuple'> (10, 9, 5, 4, 2, 99, 100)
<class 'tuple'> (1, 99, 9, 4, 5, 'Robdert Downey Junior', 'Ironman', 9)
8
2
[1, 99, 9, 4, 5, 'Robdert Downey Junior', 'Ironman', 9]
<class 'list'> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99]

[1, 3, 4, 5, 6, 7, 8, 9, 10, 99]
[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 99]
[0, 1, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 1]
10
[3, 4, 5, 6, 7, 8]
[0, 1, 3, 4, 5, 6, 7, 8, 9, 10]
0
10
(0, 1, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
import array as arr
a=arr.array('i',[2,4,6,8])
print("First element",a[0])
print("Second element",a[1])
print("Last element",a[-1])
print(len(a))

print()

import array as arr
a=arr.array('i',[10,22,30,9,99])
print("First element  ",a[0])
print("Second element ",a[1])
print("Third element  ",a[2])
print("Fourth element ",a[3])
print("Fifth element  ",a[4])
print("Last element   ",a[-1])
print(len(a))


print()

import array as arr
#from array import*
#append,add,remove,delete,insert,extend
a=arr.array('i',[1,2,4,5,9])
a.append(8)#append
print(a)

a.remove(5)
print(a)#remove

a.extend([6,10])
print(a)#extend


a.insert(99,100)#insert
print(a)


print()



#Print multiples of 5 using array
from array import*
array1=array('i',[5,10,15,20,25,30,35,40,45,50])
for x in array1:
  print(x)


print()  

#Accessing Array Element 
print(array1[0]) 
print(array1[1])
print(array1[2])
print(array1[-1])


print()


#Insertion Operation
from array import*
array1=array('i',[5,10,15,20,25,30,35,40,45,50])
array1.insert(1,90)
for x in array1:
    print(x)

array1.insert(-1,100)
for x in array1:
  print(x)

array1.insert(9,99)  
for x in array1:
  print(x)
array1.insert(4,200)  
for x in array1:
  print("Insertion operation",x)

print()   

#Deletion Operation
array1.remove(90)
for x in array1:
  print("deletion operation",x) 


print()


#Search Operation
print("search operation",array1.index(40))  
print(array1.index(50))
print(array1.index(10))

#Update Operation
array1[2]=80
for x in array1:
  print("update operation",x)

First element 2
Second element 4
Last element 8
4

First element   10
Second element  22
Third element   30
Fourth element  9
Fifth element   99
Last element    99
5

array('i', [1, 2, 4, 5, 9, 8])
array('i', [1, 2, 4, 9, 8])
array('i', [1, 2, 4, 9, 8, 6, 10])
array('i', [1, 2, 4, 9, 8, 6, 10, 100])

5
10
15
20
25
30
35
40
45
50

5
10
15
50

5
90
10
15
20
25
30
35
40
45
50
5
90
10
15
20
25
30
35
40
45
100
50
5
90
10
15
20
25
30
35
40
99
45
100
50
Insertion operation 5
Insertion operation 90
Insertion operation 10
Insertion operation 15
Insertion operation 200
Insertion operation 20
Insertion operation 25
Insertion operation 30
Insertion operation 35
Insertion operation 40
Insertion operation 99
Insertion operation 45
Insertion operation 100
Insertion operation 50

deletion operation 5
deletion operation 10
deletion operation 15
deletion operation 200
deletion operation 20
deletion operation 25
deletion operation 30
deletion operation 35
deletion operation 40
deletion operation 99
deletion operation 45
deletion operation 100
deletion operation 50

search operation 8
12
1
update operation 5
update operation 10
update operation 80
update operation 200
update operation 20
update operation 25
update operation 30
update operation 35
update operation 40
update operation 99
update operation 45
update operation 100
update operation 50

In [ ]:
#Module-4
import cmath
#Solve the quadratic equation ax**2 + bx + c = 0
a=1
b=4
c=5
#calculate the discriminant
d=(b**2)-(4*a*c)
#Find two solutions
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print("The solutions of {0} and {1} are",(sol1,sol2))



print()

#Find the square root of a number
a=float(input("Enter the number whose square root is to be find "))
print("The square root ot the number is",cmath.sqrt(a))

The solutions of {0} and {1} are ((-2-1j), (-2+1j))

Enter the number whose square root is to be find 25
The square root ot the number is (5+0j)

In [ ]:
n=23 #Factorial of a number
fact=1
for i in range(1,n+1):
   fact=fact*i
print (fact)


n=9
fact=1
for i in range (1,n+1):
  fact=fact*i
print(fact)  


n=5
fact=1
for i in range (1,n+1):
  fact=fact*i
print(fact)


import math
print(math.factorial(23))

import math
print(math.factorial(9))

import math
print(math.factorial(1))

25852016738884976640000
362880
120
25852016738884976640000
362880
1

In [ ]:
def factorial (x):#Factorial
  if x==1:
   return 1
  else:
   return (x*factorial(x-1))
print(factorial(7))

import math
print(math.factorial(7))


def apple(a):
  factorial=1
  if  a<0:
    print("The factorial of negative is  not possible")
  elif a==0:
      print("Factorial of 0 is 1")
  else:
   for i in range(1,a+1):
    factorial=factorial*i
  print(factorial)
apple(7)


n=7
fact=1
for i in range(1,n+1):
 fact=fact*i
print(fact)

5040
5040
5040
5040

In [ ]:
def adding():
  a=10
  b=20
  sum=a+b
  print("After calling",sum)
adding()


def area():#Find area of a circle without argument and return type
  a=2
  b=3.14
  multiply=b*a*2
  print("area",multiply)
area()

def area():
  a=4
  b=3.14
  multi=b*a*2
  
  return multi
print("area",area())


def area():#Without argument and with return value (area of a rectangle)
  a=4
  b=6
  multi=a*b
  return multi
print("area of a ",area()) 

def p(a,b):#With argument and without return 
  multi=a*b
  print(multi)
p(4,6)  
  

def priyanshu(a,b) :#With argument and with return
  sum=a+b 
  return sum
print("Priyanshu",priyanshu(4,5))



#perimeter of a circle with arguement and no return 
def  a(p,s):
  multi=2*p*s
  print("Perimter of area:",multi)
a(4,3.14)

#perimeter of a rectangle with arguement and return
def a(p,s):
  sum=p+s
  return sum
print("Perimeter of rectangle:",a(4,5))
    
#yes yes 
#no no
#yes no
#no yes

After calling 30
area 12.56
area 25.12
area of a  24
24
Priyanshu 9
Perimter of area: 25.12
Perimeter of rectangle: 9

In [ ]:
#Python Functions 

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Priyanshu", "Sharma")


def apple(p,s):
 print(p+" "+s)
apple("9","5")
def a(Rdj,Tony):
 print("Hi"+" "+Rdj+" "+Tony)
a("Robert Downey Junior","Love you 3000")



def hello(country="India"):
 print(country)
hello("Russia") 
hello("Paris")
hello()
hello("New York")

Priyanshu Sharma
9 5
Hi Robert Downey Junior Love you 3000
Russia
Paris
India
New York

In [ ]:
#List
a=["apple","banana","mango",100,9]
print(type(a),a)
print(len(a))

a=[]
print(a)

a=["Priyanshu" ,9]
b=["Sharma"]
c=a+b
print(type(c),c)
print(len(a))

a=["Name :" "Priyanshu Sharma"]
b=["Register :" "22BHI10063"]
C=["Branch:" "CSE-BHI"]
p=["University :""VIT Bhopal"]
s=["Address :" "Bhopal-Indore Expressway Kothri Kalan Sehore Madhya Pradesh 466114"]
print(a,b,c,p,s)


print(p[0::])
print(b[14::])
s=["Address :" "Bhopal-Indore Expressway Kothri Kalan Sehore Madhya Pradesh 466114"]
print(s[0::5])
s=["Address :" "Bhopal-Indore Expressway Kothri Kalan Sehore Madhya Pradesh 466114"]
print(s[-1::-1])

<class 'list'> ['apple', 'banana', 'mango', 100, 9]
5
[]
<class 'list'> ['Priyanshu', 9, 'Sharma']
2
['Name :Priyanshu Sharma'] ['Register :22BHI10063'] ['Priyanshu', 9, 'Sharma'] ['University :VIT Bhopal'] ['Address :Bhopal-Indore Expressway Kothri Kalan Sehore Madhya Pradesh 466114']
['University :VIT Bhopal']
[]
['Address :Bhopal-Indore Expressway Kothri Kalan Sehore Madhya Pradesh 466114']
['Address :Bhopal-Indore Expressway Kothri Kalan Sehore Madhya Pradesh 466114']

In [ ]:
a=['Hello World']
p=[1,2,3,5,8,10]
a.reverse()
print(a)

print(p[-1::-1])
print(p[0:])
print(p[2:5])

#Adding an element in list
a=["apple","mango,","cherry"]
a.append("strawberry")
print(a)

#Inserting an element at a specified position
a.insert(1,"banana")
print(a)


#Delete an element
a.remove("banana")
print(a)

#Pop -removes specified index
a.pop(0)
print(a)

#Extend list
a=["apple","mango","banana",9]
b=["Iron man","Rdj",3000]
b.extend(a)
print(b)

#For loop in list
for x in a:
 print(a)

 a=[0,12,99.9,-1]
 for x in a:
   print(a)
  

#Multiply many times
print(a*3)
p=["VIT Bhopal"]
print(p*10)

['Hello World']
[10, 8, 5, 3, 2, 1]
[1, 2, 3, 5, 8, 10]
[3, 5, 8]
['apple', 'mango,', 'cherry', 'strawberry']
['apple', 'banana', 'mango,', 'cherry', 'strawberry']
['apple', 'mango,', 'cherry', 'strawberry']
['mango,', 'cherry', 'strawberry']
['Iron man', 'Rdj', 3000, 'apple', 'mango', 'banana', 9]
['apple', 'mango', 'banana', 9]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1]
[0, 12, 99.9, -1, 0, 12, 99.9, -1, 0, 12, 99.9, -1]
['VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal', 'VIT Bhopal']

In [ ]:
integer1 = -10
integer2 = 22
float1 = -1.101
float2 = 1.234
zero = 0
print(abs(integer1))
print(abs(integer2))
print(abs(float1))
print(abs(float2))
print(abs(zero))
#Absolute value
a=100
b=-1
p=99.9
s=-2.1
m=0
print(abs(a))
print(abs(b))
print(abs(p))
print(abs(s))
print(abs(m))

10
22
1.101
1.234
0
100
1
99.9
2.1
0

In [ ]:
#Set
a={"apple","banana","cherry"} #unordered
b={10,20,30,50}
c={50,60,70,80}
d={"cherry","strawberry","mango"}

#Adding an element in set
a.add("Orange")

print(a)
print(a)
print(type(a),a)
print(b)
print(c)

#Addition of set
print(b|c)
print(a|b|c)

#Find common in two sets
print(a & d)
#Difference of set-elements (will be printed of set 1 excluding the the set 1 present in set 2 ,only the set 1) 
print(b-c)
#Set difference semantics
print(b^c)

{'cherry', 'Orange', 'apple', 'banana'}
{'cherry', 'Orange', 'apple', 'banana'}
<class 'set'> {'cherry', 'Orange', 'apple', 'banana'}
{10, 20, 50, 30}
{80, 50, 60, 70}
{70, 10, 80, 50, 20, 60, 30}
{'cherry', 'banana', 70, 10, 80, 50, 20, 'Orange', 'apple', 60, 30}
{'cherry'}
{10, 20, 30}
{70, 10, 80, 20, 60, 30}

In [ ]:
#Dictionaries
#"key":value  -pair
a={"Name":"Priyanshu Sharma",
   "Age":18,
   "University":"VIT Bhopal",
   "Address":"Bhopal -Indorewxpressway Kothri Kalan Sehore",
   "State":"Madhya Pradesh"
   }
print(a)
print(type(a))
#Add-Update value
a.update({"Age":20})
print(a)
#Pop-Remove value
a.pop("Age")
print(a)

"VIT Bhopal"in a
"University" in a

{'Name': 'Priyanshu Sharma', 'Age': 18, 'University': 'VIT Bhopal', 'Address': 'Bhopal -Indorewxpressway Kothri Kalan Sehore', 'State': 'Madhya Pradesh'}
<class 'dict'>
{'Name': 'Priyanshu Sharma', 'Age': 20, 'University': 'VIT Bhopal', 'Address': 'Bhopal -Indorewxpressway Kothri Kalan Sehore', 'State': 'Madhya Pradesh'}
{'Name': 'Priyanshu Sharma', 'University': 'VIT Bhopal', 'Address': 'Bhopal -Indorewxpressway Kothri Kalan Sehore', 'State': 'Madhya Pradesh'}

True

In [ ]:
#create,add,delete,update,merge -List
a=["Apple","Mango","Cherry",9]
print(type(a))
#Add an element in List
a.append("Strawberry")
print(a)
#Remove an element in List
a.remove("Apple")
print(a)
#Update an element in List
a[0]="Banana"
print(a)

#Merging or joining of two List

b=["Kiwi",20,50,80,100]
print(a+b)

<class 'list'>
['Apple', 'Mango', 'Cherry', 9, 'Strawberry']
['Mango', 'Cherry', 9, 'Strawberry']
['Banana', 'Cherry', 9, 'Strawberry']
['Banana', 'Cherry', 9, 'Strawberry', 'Kiwi', 20, 50, 80, 100]

In [ ]:
numbers=(2,4,6,8,10)#Tuple
print(numbers)
print()

print(numbers)
value=(2,8,6,10,12)#Immutable
print(value)

#Converting tuple to list
print(list(value))
#Length of Tuple
print(len(value))
a=("Ironman,Robert ,Downey Junior")
print(a[-1::-1])
print(reversed(a))

a=(2,6,8,4,12,20)#Sorting Tuple
print("Sorted a",sorted(a))


great=["hello","robert","downey","junior",3000]#List
print(len(great))
great.append("Love you 3000")#Mutable
great.append(9)#Adding element in list
print(great)

print(great[0:])
print(great[1:5])
print(great[5:])

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)
(2, 8, 6, 10, 12)
[2, 8, 6, 10, 12]
5
roinuJ yenwoD, treboR,namnorI

NameError: ignored

In [ ]:
tuplevalues=(1,2,3,'VIT Bhopal',25.9,4,5)
print(tuplevalues)
print(len(tuplevalues))

(1, 2, 3, 'VIT Bhopal', 25.9, 4, 5)
7

In [ ]:
from tkinter import *
import tkinter.messagebox
import mysql.connector


#connecting to the database
connectiondb = mysql.connector.connect(host="localhost",user="root",passwd="",database="logindb")
cursordb = connectiondb.cursor()


def login():
global root2
root2 = Toplevel(root)
root2.title("Account Login")
root2.geometry("450x300")
root2.config(bg="white")

global username_verification
global password_verification
Label(root2, text='Please Enter your Account Details', bd=5,font=('arial', 12, 'bold'), relief="groove", fg="white",
bg="blue",width=300).pack()
username_verification = StringVar()
password_verification = StringVar()
Label(root2, text="").pack()
Label(root2, text="Username :", fg="black", font=('arial', 12, 'bold')).pack()
Entry(root2, textvariable=username_verification).pack()
Label(root2, text="").pack()
Label(root2, text="Password :", fg="black", font=('arial', 12, 'bold')).pack()
Entry(root2, textvariable=password_verification, show="*").pack()
Label(root2, text="").pack()
Button(root2, text="Login", bg="blue", fg='white', relief="groove", font=('arial', 12, 'bold'),command=login_verification).pack()
Label(root2, text="")

def logged_destroy():
logged_message.destroy()
root2.destroy()

def failed_destroy():
failed_message.destroy()

def logged():
global logged_message
logged_message = Toplevel(root2)
logged_message.title("Welcome")
logged_message.geometry("500x100")
Label(logged_message, text="Login Successfully!... Welcome {} ".format(username_verification.get()), fg="green", font="bold").pack()
Label(logged_message, text="").pack()
Button(logged_message, text="Logout", bg="blue", fg='white', relief="groove", font=('arial', 12, 'bold'), command=logged_destroy).pack()


def failed():
global failed_message
failed_message = Toplevel(root2)
failed_message.title("Invalid Message")
failed_message.geometry("500x100")
Label(failed_message, text="Invalid Username or Password", fg="red", font="bold").pack()
Label(failed_message, text="").pack()
Button(failed_message,text="Ok", bg="blue", fg='white', relief="groove", font=('arial', 12, 'bold'), command=failed_destroy).pack()


def login_verification():
user_verification = username_verification.get()
pass_verification = password_verification.get()
sql = "select * from usertable where username = %s and password = %s"
cursordb.execute(sql,[(user_verification),(pass_verification)])
results = cursordb.fetchall()
if results:
for i in results:
logged()
break
else:
failed()

def Exit():
wayOut = tkinter.messagebox.askyesno("Login System", "Do you want to exit the system")
if wayOut > 0:
root.destroy()
return

def main_display():
global root
root = Tk()
root.config(bg="white")
root.title("Login System")
root.geometry("500x500")
Label(root,text='Welcome to Log In System', bd=20, font=('arial', 20, 'bold'), relief="groove", fg="white",
bg="blue",width=300).pack()
Label(root,text="").pack()
Button(root,text='Log In', height="1",width="20", bd=8, font=('arial', 12, 'bold'), relief="groove", fg="white",
bg="blue",command=login).pack()
Label(root,text="").pack()
Button(root,text='Exit', height="1",width="20", bd=8, font=('arial', 12, 'bold'), relief="groove", fg="white",
bg="blue",command=Exit).pack()
Label(root,text="").pack()

main_display()
root.mainloop()

IndentationError: ignored

In [ ]:
a='VIT' #Concatenation
b='Bhopal'
c=a+b
print(c)
str1="123"
a=int(str1)+1
a=input("Enter a value ")
print(a)
print(int(a)-10)

VITBhopal
Enter a value 100
100
90

In [ ]:
a="Banana"
print(a[1])
a="Hello Robert Downey Junior"
print(len(a))
print(a[0:])
print(a[0:5])
print(a[-1:])
print(a[-1::-1])


p="Priyanshu Sharma"
print(len(p))
print(p[0:])

a
26
Hello Robert Downey Junior
Hello
r
roinuJ yenwoD treboR olleH
16
Priyanshu Sharma

In [ ]:
a=int(input("Type your value"))
while(a<10):
  print(a)
  a=a+1

Type your value0
0
1
2
3
4
5
6
7
8
9

In [ ]:
print("Enter the four scores")
run1=int(input("Enter run1"))
run2=int(input("Enter run2"))
run3=int(input("Enter run3"))
run4=int(input("Enter run4"))
battingavg=(run1+run2+run3+run4)/4
print("Batting Average is",battingavg)

Enter the four scores
Enter run150
Enter run290
Enter run355
Enter run480
Batting Average is 68.75

In [ ]:
a=0
b=10
while a<b:
  print(a,end='')
  a=a+1

0123456789

In [ ]:
a=int(input("Type a number"))
while(a<=50):
  print(a)
  a=a+1
  if a==20:
    break;

Type a number1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
a=int(input("Enter your number "))
while (a<=10):
  if a%2==0:
    print(a)

In [ ]:
num = 11
# If given number is greater than 1
if num > 1:
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

In [ ]:
a=int(input("Type your number"))
sum=0
for b in range(1,a+1,1):
 sum=sum+b
avg=sum/b
print(avg)

Type your number50
25.5

In [ ]:
count=0
total=0
n=int(input("Enter how many mark you want to read"))
while count<n:
  mark=int(input("Enter mark"))
  if mark<0:
    print("mark should be grater than 0,terminates")
    break
  total=total+mark
  count=count+1 
  average=total/n 
else:
     print(average)

Enter how many mark you want to read5
Enter mark90
Enter mark80
Enter mark70
Enter mark85
Enter mark95
84.0

In [ ]:
for i in range(10):
    print(i)
    if i == 2:
        break

0
1
2

In [ ]:

for a in range(20):
  print(a)
  if a==10:
    break

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Grade
a=float(input("Enter your Grade "))
if (a>=90):
  print("S Grade")
else:
  print("A Grade")

Enter your Grade 88
A Grade

In [ ]:
a=int(input("Enter a number "))
b=int(input("Enter a number "))
c=int(input("Enter a number "))
if a>b:
 if a>c:
  print("a is greater" )
elif b>c:
  if b>a:
    print("b is greater")  
else:
  print("c is greater")

Enter a number 5
Enter a number 4
Enter a number 2
a is greater

In [ ]:
#PEMDAS Rule
a=(2**3+2*(2+3))
b=(1+2*3)
c=4-40-3
m=4-(40-3)
print(a,b,c,m)

18 7 -39 -33

In [ ]:
num1=input("Enter your number")
num2=int(input("Enter your number"))
num3=input("Enter your name")
num4=int(input("Enter your number"))
print(type(num1),num1)
print(type(num2),num2)
print(type(num3),num3)
print(type(num4),num4)

Enter your numberHello
Enter your number9
Enter your namePriyanshu Sharma
Enter your number9
<class 'str'> Hello
<class 'int'> 9
<class 'str'> Priyanshu Sharma
<class 'int'> 9

In [ ]:
a=input("Enter your Name")
b=input("Enter your Registration Number")
p=input("Enter your course Name")
s=input("Enter your Address")
print(a)
print(b)
print(p)
print(s)

Enter your NamePriyanshu Sharma
Enter your Registration Number22BHI10063
Enter your course NameCSE -BHI
Enter your AddressVIT Bhopal,Bhopal Indore Expressway,Kotri Kalan,Sehore,46114,Madhya Pradesh
Priyanshu Sharma
22BHI10063
CSE -BHI
VIT Bhopal,Bhopal Indore Expressway,Kotri Kalan,Sehore,46114,Madhya Pradesh

In [ ]:
x=10
y=5
x=x+y
print(x)
x+=y
print(x)
x&=y
print(x)
x-=y
print(x)
x|=y
print(x)
x*=y
print(x)
x^=y
print(x)
x/=y
print(x)
x >>=y
print(x)
x%=y
print(x)
x<<=y
print(x)
x**=y
print(x)
x//=y
print(x)

15
20
4
-1
-1
-5
-2
-0.4

TypeError: ignored

In [ ]:
#Pay
bp=float(input("Enter your Basic Pay "))
netpay=bp+(bp*0.8)+(bp*0.3)-(bp*0.12)
print("Salary",netpay)

Enter your Basic Pay 150000
Salary 297000.0

In [ ]:
a=5#Basic Arithmetic Operations
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)
print(5>4)

9
1
20
1.25
1
1
625
True

In [ ]:
b=2500
print(b,type(b))
#a=.099
#print(a,(type a)) 
#c=1,02.46
#print(c,(type c))
#p='Jennifer Smiths's Friend'
#print(p,(type p))
m="let's go"
print(m,type(m))
p='Hello Rdj'
print(p,type(p))
s="Hello Rdj"
print(s,type(s))
print('Hello \n Jennifer')
print("VIT Bhopal \n Bhopal Indore Expressway \n Kothri Kalan,46114 \n Madhya Pradesh")
print(9>5)
bin(5)
print(bin(12))
print(oct(12))
print(hex(12))
X=0xAAAAAAAAAAAAAAAAAAAAAAAAAA9999999999999999999987654321
print(bin(X))
print(oct(X))
print(hex(X))
print(1.2e00*2.4e100)
print(1.2e00/2.4e100)
print(1.2e200*2.4e200)
print(1.2e-200/2.4e200)
print('a'*15)
print(2+1j*3)

2500 <class 'int'>
let's go <class 'str'>
Hello Rdj <class 'str'>
Hello Rdj <class 'str'>
Hello
 Jennifer
VIT Bhopal
 Bhopal Indore Expressway
 Kothri Kalan,46114
 Madhya Pradesh
True
0b1100
0o14
0xc
0b101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101001100110011001100110011001100110011001100110011001100110011001100110011001100110000111011001010100001100100001
0o525252525252525252525252525252525251463146314631463146314631460731241441
0xaaaaaaaaaaaaaaaaaaaaaaaaaa9999999999999999999987654321
2.88e+100
4.9999999999999995e-101
inf
0.0
aaaaaaaaaaaaaaa
(2+3j)

In [ ]:
for i in range(101):
  if((i%3)==0):
    if((i%5)==0):
      print("GodlyBadly")
    else:
        print("Godly")
  elif((i%5)==0):
      print("Badly")
  else:
     print(i)

GodlyBadly
1
2
Godly
4
Badly
Godly
7
8
Godly
Badly
11
Godly
13
14
GodlyBadly
16
17
Godly
19
Badly
Godly
22
23
Godly
Badly
26
Godly
28
29
GodlyBadly
31
32
Godly
34
Badly
Godly
37
38
Godly
Badly
41
Godly
43
44
GodlyBadly
46
47
Godly
49
Badly
Godly
52
53
Godly
Badly
56
Godly
58
59
GodlyBadly
61
62
Godly
64
Badly
Godly
67
68
Godly
Badly
71
Godly
73
74
GodlyBadly
76
77
Godly
79
Badly
Godly
82
83
Godly
Badly
86
Godly
88
89
GodlyBadly
91
92
Godly
94
Badly
Godly
97
98
Godly
Badly

In [ ]:
n=float(input("Enter amount in hand "))
c=float(input("Enter price of chocolate "))
m=float(input("Enter number of wrappers for free chocolate "))
#Number of chocolates bought
p=n/c
#Number of free chocolates
f=p/m
print("Number of chocolates ",int(p+f))

Enter amount in hand 100
Enter price of chocolate 20
Enter number of wrappers for free chocolate 5
Number of chocolates  6

In [ ]:
print("Enter number of steps")
n=int(input())
for i in range(0,n):
  for j in range(0,i+1):
   print("*",end='')
  print()

Enter number of steps
10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
num=int(input("Enter a number"))
factorial =1
if num<0:
  print("Factorial doesn't exist for negative numbers")
elif num==0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num+1):
        factorial=factorial*i
print("The factorial of",num,"is",factorial)

Enter a number2
The factorial of 2 is 2

In [ ]:
for i in range(1000,2000):
    if i%7==0 and i%5!=0:
      print(i)

1001
1008
1022
1029
1036
1043
1057
1064
1071
1078
1092
1099
1106
1113
1127
1134
1141
1148
1162
1169
1176
1183
1197
1204
1211
1218
1232
1239
1246
1253
1267
1274
1281
1288
1302
1309
1316
1323
1337
1344
1351
1358
1372
1379
1386
1393
1407
1414
1421
1428
1442
1449
1456
1463
1477
1484
1491
1498
1512
1519
1526
1533
1547
1554
1561
1568
1582
1589
1596
1603
1617
1624
1631
1638
1652
1659
1666
1673
1687
1694
1701
1708
1722
1729
1736
1743
1757
1764
1771
1778
1792
1799
1806
1813
1827
1834
1841
1848
1862
1869
1876
1883
1897
1904
1911
1918
1932
1939
1946
1953
1967
1974
1981
1988

In [ ]:
n=int(input("Enter the value of n:"))
x=[]
for i in range (1,10):
  if(i%3==0):
    x.append(i)
print("Thse sre the multiples of 3:",x)

Enter the value of n:9
Thse sre the multiples of 3: [3, 6, 9]

In [ ]:
num=int(input("Enter a number"))
sum=0
while num>0:
  sum+=num
  num-=1
print("The sum is",sum)

Enter a number5
The sum is 15

In [ ]:
numbers=(1,2,3,4,5,6,7,8,9)#Declaring the Tuple
count_odd=0
count_even=0
for x in numbers:
    if not x%2:
        count_even+=1
else:
    count_odd+=1
print("Numbers of even numbers :",count_even)
print("Numbers of odd numbers :",count_odd)

Numbers of even numbers : 4
Numbers of odd numbers : 1

In [ ]:
num=2
flag=0
for i in range(2,num):
  if num%i==0:
    flag=1
    break
if flag==1:
      print("Not Prime")
else:
        print("Prime")

Prime

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [ ]:
x,y=0,1
while y<10:
  print(y)
  x,y=y,x+y

1
1
2
3
5
8

In [ ]:
#sequential control statement
a=20
b=10
c=a-b
print("Subtraction is":,c)

SyntaxError: ignored

In [ ]:
#sequential statement (divsion)
a=20
b=4
c=a/b
d=a+b
e=a-b
f=a%b
m=a-b
print("Division of a and b is :",c)
print("Addition of a and b is:",d)
print("Product of a and b is :",e)
print("Modulus of a and b is :",f)
print("Subtraction of a and b is :",m)

Division of a and b is : 5.0
Addition of a and b is: 24
Product of a and b is : 16
Modulus of a and b is : 0
Subtraction of a and b is : 16

In [ ]:
#flow chart

In [ ]:
#condition statement 
#if statement
n=10
if (n%2==0):
  print ("n is a even number")
else: #(n!=0)
  print ("n is an odd number")

n is a even number

In [ ]:
a=5
b=4
if(a<b):
  print("a is greater than b")
else:
  print("a is less than b")
if(a<6):
  print("a is less than 6")

a is less than b
a is less than 6

In [ ]:
#nested if
a=50
b=40
c=20
if (a>b):
  if(a>c):
     print("a is bigger")
  else :
    print("c isbigger ")
elif(b>c):
  print("b is bigger ")
else:
  print("c is biggger")

a is bigger

In [ ]:
#AVERAGE MARKS OF A STUDENT
a=float(input("Enter your Marks in subject 1 "))
b=float(input("Enter your marks in subject 2 "))
c=float(input("Enter your marks in subject 3 "))
#Average marks=(sum of the marks in all three subjects)/Total no. of subjects
p=(a+b+c)/3
print(p)
if(p>=65):  #if else condition 
    print("pass") 

else:
    print("fail")

Enter your Marks in subject 1 70
Enter your marks in subject 2 80
Enter your marks in subject 3 90
80.0
pass

In [ ]:
#Three sides of a a triangle is a,b and c
a=float(input("Enter your first side"))
b=float(input("Enter your second Side"))
c=float(input("Enter your third side"))
#calculate the semi-perimeter of the triangle
s=(a+b+c)/2
print(s)

Enter your first side7.2
Enter your second Side4.8
Enter your third side5.2
8.6

In [ ]:
int q a=b*c
b=(input)
c=int 3000
s=(input)
p=int(q-s)
print("p")

SyntaxError: ignored

NameError: ignored

pi=3.14
radius=float(input("Type the radius of circle"))
area=pi*radius*radius
print("The area of circle is:",area)

In [ ]:
pi=3.14
radius=float(input("Type the radius"))
area=pi*radius*radius
print("Area of circle:",area)

Type the radius9
Area of circle: 254.34

In [ ]:

#include<stdio.h>
int main()
{
    float cel,fer;
    printf("Enter temp.in celsius");
    scanf(%f,&cel);
    fer=(9*cel)/5+32;
    printf("converted value is %f",fer);
    return 0;



}

SyntaxError: ignored

In [ ]:
radius =float(input)
pi=3.14
areaofcircle =pi*radius*(input)
print(areaofcircle)

TypeError: ignored

In [ ]:
noc=int(input)
cooc=int(input)
cooch=int(intput)
not=int(intput)
nowh=int(input)
coc=noc=cooc
print("coc,"noc")

SyntaxError: ignored

In [ ]:
#include<stdio.h>
int main(){
    int number 1 ,number 2;
    printf("Enter two numbers");
    scanf("%d,&number1");
    scanf("%d,&number2");
    if(number1>number2){
        ptint("%d is the largesst one",number1);
    }
    else{
        printf("%d is the larger one",number2);
    }
}

SyntaxError: ignored

In [ ]:
print("Priyanshu Sharma")

Priyanshu Sharma

In [ ]:
print("This code was written by Priyanshu Sharma")

This code was written by Priyanshu Sharma

In [ ]:
print("Priyanshu Sharma")
print("22BHI10063")
print("Computer Science and Engineering with specialisation in Health Informatics")
print("VIT Bhopal")

Priyanshu Sharma
22BHI10063
Computer Science and Engineering with specialisation in Health Informatics
VIT Bhopal

In [ ]:
print('Hello')

Hello

In [ ]:
a=5
b=4
c=1
sum=a+b+c
print(sum)

10

In [ ]:
a=10
b=20
c=a+b
print(c)

30